<%- include('./partials/nav.ejs') %>
<link rel="stylesheet" href="/css/faculties.css">
<!--====== CARD PART START ======-->
<body>
    
<section class="card-area pb-5" style="margin-top: 8vh;">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1079454171994005614/Untitled_design_16.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="javascript:void(0)">Science</a>
                   </h4>
                   <p class="text">
                      Faculty Of Sciences
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1079174801337356411/Untitled_design_13.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="/mgt">Management</a>
                   </h4>
                   <p class="text">
                      Business administration Faculty
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1079454351120142468/Untitled_design_17.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="javascript:void(0)">Engineering</a>
                   </h4>
                   <p class="text">
                      Faculty Of Engineering
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1080830183096975360/Untitled_design_19.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="/soft-skills">Soft Skills</a>
                   </h4>
                   <p class="text">
                      For All Faculties
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
          <!-- col -->
       </div>
       <!-- row -->
    </div>
    <!-- container -->
 </section>
 <!--====== CARD PART ENDS ======-->
</body>
