<%- include('./partials/nav.ejs') %>
<h1 style="text-align: center;">
    Access to job search websites
</h1>
<br>
<ul style="margin-left: 5%;">
    <h3>
    <li>Bayt
        <br>
        <a target="_blank" href="https://www.bayt.com/" class="btn btn-outline-dark">Check Bayt's Website</a>

    </li>
    <br>
    <li>Monster
        <br>
        <a target="_blank" href="https://www.monster.com/" class="btn btn-outline-dark">Check Monster's Website</a>

    </li>
    <br>
    <li>Hire Lebanon
        <br>
        <a target="_blank" href="https://www.hirelebanese.com/" class="btn btn-outline-dark">Check Hire Lebanon's Website</a>

    </li>
</h3>
</ul>
<style>
    body {
    background-color: rgb(226, 226, 226);
}

</style>