<%- include('./partials/nav.ejs') %>

<link rel="stylesheet" href="/css/businessfaculty.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="/mis">
      <div class="card__background" style="background-image: url(https://transcosmos.co.uk/wp-content/uploads/2015/10/technology-customer-support1.jpg)"></div>
      <div class="card__content">
        <p class="card__category">إدارة</p>
        <h3 class="card__heading">MIS</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://aue.ae/wp-content/uploads/2022/07/hr.jpg)"></div>
      <div class="card__content">
        <p class="card__category">إدارة</p>
        <h3 class="card__heading">HR</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://media.smallbiztrends.com/2022/04/what-is-financial-accounting.png)"></div>
      <div class="card__content">
        <p class="card__category">إدارة</p>
        <h3 class="card__heading">Accounting</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20191112054904-FotoJet32.jpeg)"></div>
      <div class="card__content">
        <p class="card__category">إدارة</p>
        <h3 class="card__heading">MKT</h3>
      </div>
    </a>
  <div>
</section>