<%- include('./partials/nav.ejs') %>
<link rel="stylesheet" href="/css/faculties.css">
<!--====== CARD PART START ======-->
<body>
    
<section class="card-area pb-5" style="margin-top: 8vh;">
    <div class="container">
       <div class="row justify-content-center">
  
 
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1080831504680230952/6.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="">CV Writing</a>
                   </h4>
                   <p class="text">
                      Soft Skills
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
 
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1080831504101425203/7.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="">Job Interview</a>
                   </h4>
                   <p class="text">
                    Soft Skills
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
 
          <div class="col-lg-4 col-md-7 col-sm-9">
             <div class="single-card card-style-one">
                <div class="card-image">
                   <img src="https://cdn.discordapp.com/attachments/1065193867428761691/1080831504378253392/8.png" alt="Image" />
                </div>
                <div class="card-content">
                   <h4 class="card-title">
                      <a href="">Job Searching</a>
                   </h4>
                   <p class="text">
                    Soft Skills
                   </p>
                </div>
             </div>
             <!-- single-card -->
          </div>
          <!-- col -->
       </div>
       <!-- row -->
    </div>
    <!-- container -->
 </section>
 <!--====== CARD PART ENDS ======-->
</body>
