<%- include('../partials/nav.ejs') %>

<link rel="stylesheet" href="/css/businessfaculty.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="/mis/path">
      <div class="card__background" style="background-image: url(https://cdn.discordapp.com/attachments/1065193867428761691/1079473576744329256/1.png)"></div>
      <div class="card__content">
        <p class="card__category">MIS</p>
        <h3 class="card__heading">منهج الجامعة</h3>
      </div>
    </a>
    <a class="card" href="/mis/courses">
      <div class="card__background" style="background-image: url(https://cdn.discordapp.com/attachments/1065193867428761691/1079473577008566313/2.png)"></div>
      <div class="card__content">
        <p class="card__category">MIS</p>
        <h3 class="card__heading">دورات خارجيّة</h3>
      </div>
    </a>
    <a class="card" href="/mis/jobs">
      <div class="card__background" style="background-image: url(https://cdn.discordapp.com/attachments/1065193867428761691/1079473577230860399/3.png)"></div>
      <div class="card__content">
        <p class="card__category">MIS</p>
        <h3 class="card__heading">سوق العمل</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://cdn.discordapp.com/attachments/1065193867428761691/1079474525546238132/Untitled_design_18.png)"></div>
      <div class="card__content">
        <p class="card__category">MIS</p>
        <h3 class="card__heading">ورش و ندوات</h3>
      </div>
    </a>
  <div>
</section>