<%- include('../partials/nav.ejs') %>
<link rel="stylesheet" href="/css/mispath.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span  class="flag">Project Management</span>
				<span class="time-wrapper"><span class="time">By Google</span></span>
			</div>
			<a href="https://grow.google/intl/mena/" target="_blank" class="btn btn-outline-dark" style="margin-top: 2vh;">View Course</a>
            </div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Data Analytics</span>
				<span class="time-wrapper"><span class="time">By Meta</span></span>
			</div>
			<a href="https://www.coursera.org/professional-certificates/facebook-marketing-analytics" target="_blank" class="btn btn-outline-dark" style="margin-top: 2vh;">View Course</a>
            </div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Data Visualization</span>
				<span class="time-wrapper"><span class="time">By IBM</span></span>
			</div>
			<a href="https://www.coursera.org/learn/python-for-data-visualization" target="_blank" class="btn btn-outline-dark" style="margin-top: 2vh;">View Course</a>
            </div>
		</div>
	</li>
  
</ul>
