<%- include('../partials/nav.ejs') %>
<link rel="stylesheet" href="/css/mispath.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  
<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">MIT 200</span>
				<span class="time-wrapper"><span class="time">Business Software Applications</span></span>
			</div>
			<div class="desc">Students are first familiarized with the basics of computer literacy covering personal computers essentials and parts, software, peripheral devices, communications, Internet basics, and connectivity. Students are later on familiarized with Microsoft Applicions.
            </div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">MIT 210</span>
				<span class="time-wrapper"><span class="time">Computer Programming I</span></span>
			</div>
			<div class="desc">Participants are introduced to methods of solving data processing problems through the use of structured programming techniques in writing computer programs. Concepts include various methods of organizing and processing files, interactive and batch data entry, and logical manipulation of data, as well as online and printed output. Computer programs will be created, enhanced and maintained as part of a typical large business data processing system.

            </div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">MIT 290</span>
				<span class="time-wrapper"><span class="time">Computer Programming II</span></span>
			</div>
			<div class="desc">This course is divided into two parts: The first half of the course teaches the significance of object-oriented programming, the keywords and constructs of the Java programming language, and the steps required to create simple Java programs. The second half of the course covers Java syntax; object-oriented programming with Java; creating graphical user interfaces (GUIs), exceptions, file input/output (I/O), and threads; and networking.

                The course is practical, with many examples and programming exercises. Students taking this course will receive a solid basis in the Java programming language upon which to base continued work and training.</div>
		</div>
	</li>
  
</ul>
